html, body {
    height: 100%;
    }
    ul {
    list-style-type: none;
    }
    h1, p {
    color: white;
    text-align: center;
    }
    header {
    border: solid;
    border-color: blue;
    background-color: blue;
    height: 10%;
    }
    #main {
    height: 80%;
    }
    footer {
    clear: both;
    border: solid;
    border-color: blue;
    background-color: blue;
    height: 10%;
    }
    nav {
    float: left;
    border: none;
    background-color: #a7aebf;
    border-color: #a7aebf;
    height: 100%;
    width: 29%;
    }
    article {
    float: left;
    border: none;
    background-color: beige;
    border-color: beige;
    height: 100%;
    width: 69%;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        }
        li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
        }
        li a:hover {
        background-color: #555;
        color: white;
    }

    article p{
        color: black;
        text-align: justify;
        }
        article img{
        float: left;
        width: 10%;
        margin:0px 10px;
    }

    button.accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 10px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 20px;
        transition: 0.4s;
    }
    button.accordion.active, button.accordion:hover {
        background-color: #ddd;
    }
    div.panel {
        padding: 0 18px;
        display: none;
        transition: 0.4s;
    }
    div.panel.show {
        display: block;
    }

    #office> p, h1, h2{
        color: black;
        text-align: center;
    }